{% extends 'web/base.html' %}

{% load static %}

{% block my_css %}
<link href="{% static 'web/css/main.css' %}">
{% endblock my_css %}

{% block content %}
{{request_from_name}}, {{masked_aadhaar}}, {{image}}, {{mobile}}
    <div>
    <input type="hidden" name="rid" id="rid" value="{{id}}">
        <div class="row h-100 justify-content-center align-items-center" id="one" style="display: none">
            <form class="col-6" id="send-otp" action="{% url 'accounts:ekyc-send-otp' %}" method="POST">
                <div>
                    <input type="text" name="uid" id="uid" placeholder="xxxx-xxxx-xxxx">
                </div>
                <button type="submit">Submit</button>
            </form>   
        </div>
        <div id="two" style="display: flex; flex-direction: column; width: 100vw; height: 100vh; background-color: #FFFFFF; justify-content: center; align-items: center">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #FFFFFF; border-radius: 0.25em; padding: 2em 2em; border-width: 2px; border-style: solid; border-color: #000000;">
                <div style="width: 8em; height: 8em; background-color: #000000; margin-bottom: 1em; border-radius: 4em; background-image: url({% static 'web/images/aadhaar-image.jpeg' %});"></div>
                <p style="font-family: 'Sora', sans-serif; font-size: 2em; font-weight: 600;">AadhaarMitr</p>
                <form id="verify-otp" style="display: flex; flex-direction: column;" action="{% url 'accounts:ekyc-get-data' %}" method="POST">
                    <div>
                        <input type="numeric" name="otp" id="otp" max="6" placeholder="Enter OTP Recieved on your Phone" style="font-family: 'Roboto', sans-serif; font-size: 1em; font-weight: 400; outline: none; border-radius: 0.25em; padding: 0.5em 1em; border-width: 2px; border-color: #000000; width: 25vw; margin: 0.5em 2em;">
                    </div>
                    <div>
                        <input type="numeric" name="passcode" id="passcode" max="4" placeholder="Create a 4 digit Passcode" style="font-family: 'Roboto', sans-serif; font-size: 1em; font-weight: 400; outline: none; border-radius: 0.25em; padding: 0.5em 1em; border-width: 2px; border-color: #000000; width: 25vw; margin: 0.5em 2em;">
                    </div>
                    <button type="submit" style="font-family: 'Sora', sans-serif; font-size: 1em; font-weight: 600; background-color: #000000; color: #FFFFFF; outline: none; border-radius: 0.25em; padding: 0.75em 2em; border-width: 0; width: 25vw; margin: 0.5em 2em;">Grant Address Access</button>
                </form>   
            </div>
        </div>
        <div id="three" style="display: none;">
            <p style="font-family: 'Sora', sans-serif; font-size: 2em; font-weight: 600;">Aadhaar Mitr</p>
        </div>
    </div>
{% endblock content %}

{% block my_js %}
<script src="{% static 'web/js/main.js' %}"></script>
{% endblock my_js %}